---
const { title } = Astro.props
//import "@fontsource-variable/josefin-sans"
import Nav from "../components/Nav"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Digital Artist services, accessible for everyone."
    />
    <meta title={title} />
  </head>
  <body class="">
    <div class='absolute top-0 left-0 w-full h-full bg-gradient-to-br from-gray-400 to-teal-500 
    rounded-md filter blur-3xl opacity-50 -z-50'/>
    <Nav client:load />
  </body>
</html>
<main>
  <slot />
  <!-- your content is injected here -->
  <footer class="mt-12 bg-gray-800 px-8 py-12 md:px-16 lg:px-32">
    <div></div>
  </footer>
</main>

<style>
  body {
    font-family: "Josefin Sans Variable", sans-serif;
  }
</style>
